.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-google a, svg , path, img{
    transition: all 0;
    
}
.boton-google:hover path{
    color:white;
}
.lineaOR{
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.164);
}