a, svg , path, img{
    transition: all 400ms;
    cursor: pointer;
}
a:hover, svg:hover path{
    color:#d87d4a;
}
img.logo:hover{
 transform: scale(0.9);
}
.white-line {
  border: none;
  width: 180px;
  border-top: 3px solid white;
  margin:30px 0 ;
}
.linkSign{
    display: flex;
    align-items: center;
    
}
.MuiDrawer-paper{
    background-color: #101010;
}